html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0 20px;
    font-size: 5vh;
    position: relative;
    padding: 0.25em 0;
    font-family: 'Orbitron', sans-serif;
}

#header-main {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#header-border {
    clear: both;
}

#header-border:after {
    content: "";
    display: block;
    height: 4px;
    background: -moz-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

#all {
    padding-left: 30px;
    font-size: 4vh;
    font-family: 'Geostar', cursive;
}

main {
    flex: 1;
    margin: 10px;
}

#qanswer {
    color:#808080;
}

#answer {
    text-decoration: underline;
    color: #353535;
}

#element {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #df8a8a;
    border-left: solid 3px rgb(230, 90, 90);
    color: #616161;
    transition: .4s;
    font-size: 5vh;
    cursor: pointer;
    margin: 10px;
}

#element:hover{
    padding-left: 0.7em;
    padding-right: 0.3em;
}

h2 {
    font-size: 5vh;
}

h3 {
    font-size: 4vh;
}

#shu{
    position: absolute;
    left: 2vw;
    bottom: 0;    
    font-size: 1vh;
}

footer {
    color:lightslategray;
    font-family: 'Questrial', sans-serif;
    text-align: right;
    margin: 10px 10px;
}

footer .shundroid {
    font-size: 0.5vh;
}