html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0 20px;
    font-size: 5vh;
    position: relative;
    padding: 0.25em 0;
    font-family: 'Orbitron', sans-serif;
}

#header-main {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#header-border {
    clear: both;
}

#header-border:after {
    content: "";
    display: block;
    height: 4px;
    background: -moz-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

#all {
    padding-left: 30px;
    font-size: 4vh;
    font-family: 'Geostar', cursive;
}

main {
    flex: 1;
    margin: 10px;
}

#qanswer {
    color:#808080;
}

#answer {
    text-decoration: underline;
    color: #353535;
}

#element {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #df8a8a;
    border-left: solid 3px rgb(230, 90, 90);
    color: #616161;
    transition: .4s;
    font-size: 5vh;
    cursor: pointer;
    margin: 10px;
}

#element:hover{
    padding-left: 0.7em;
    padding-right: 0.3em;
}

h2 {
    font-size: 5vh;
}

h3 {
    font-size: 4vh;
}

#shu{
    flex: 1;
    font-size: 1vw;
    margin: 0%
}

footer {
    align-items: baseline;    
    display: flex;
    color:lightslategray;
    font-family: 'Questrial', sans-serif;
    margin: 10px 10px;
}

footer .shundroid {
    font-size: 0.5vh;
}








/* .menu {
    position: absolute;
	right: 1vw;
    max-width: 90px;
    margin:  auto;
    padding: 0;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    line-height: 1;
}

label {
    display: inline-block;
    margin: 0 0 1px 0;
    padding :14px;
    line-height: 0;
    color :#fff;
    background :#d36969;
    cursor :pointer;
}

input {
    display: none;
}

.menu ul {
    margin: 0;
    padding: 0;
    background :#f4f4f4;
    list-style: none;
}

.menu li {
    max-height: 0;
    overflow-y: hidden;
    /* -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; */

    /* transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
    max-height: 46px;
    opacity: 1;
}

#order {
    cursor: pointer;
}  */