html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0 20px;
    font-size: 5vh;
    position: relative;
    padding: 0.25em 0;
    font-family: 'Orbitron', sans-serif;
}

#header-main {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#header-border {
    clear: both;
}

#header-border:after {
    content: "";
    display: block;
    height: 4px;
    background: -moz-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

#square_btn35{
    font-family: "Sawarabi Mincho";
    display: inline-block;
    position: relative;
    top: 3vmax;
    float: right;
    cursor: pointer;
    padding: 0em 1em;
    text-decoration: none;
    color: #000;
    transition: .4s;
}
#square_btn35:hover {
    color:#ff7f7f;
}
#square_btn35:before,.square_btn35:after{
  position: absolute;
  top: 0;
  content:'';
  width: 5px;
  height: 80%;
  display: inline-block;
}

#square_btn35:before{
  border-left: solid 1px #ff7f7f;
  border-top: solid 1px #ff7f7f;
  border-bottom: solid 1px #ff7f7f;
  left: 0;
}
    /* #square_btn35:after{
        content: '';
    border-top: solid 1px #ff7f7f;
    border-right: solid 1px #ff7f7f;
    border-bottom: solid 1px #ff7f7f;
    right: 0;
    } */

#all {
    padding-left: 30px;
    font-size: 4vh;
    font-family: 'Geostar', cursive;
}

main {
    flex: 1;
    margin: 10px;
}

#qanswer {
    color:#808080;
}

#answer {
    text-decoration: underline;
    color: #353535;
}

#element {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #df8a8a;
    border-left: solid 3px rgb(230, 90, 90);
    color: #616161;
    transition: .4s;
    font-size: 5vh;
    cursor: pointer;
    margin: 10px;
}

#element:hover{
    padding-left: 0.7em;
    padding-right: 0.3em;
}

#sra {
    color: #ff7777;
}

#One {
    color: #525252
}

#kac {
    color: #ff7777;
}


h2 {
    font-size: 5vh;
}

h3 {
    font-size: 4vh;
}

#shu{
    flex: 1;
    font-size: 1vw;
    margin: 0%
}

footer {
    align-items: baseline;    
    display: flex;
    color:lightslategray;
    font-family: 'Questrial', sans-serif;
    margin: 10px 10px;
}

footer .shundroid {
    font-size: 0.5vh;
}

#square_btn{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 25px;
    position: absolute;
    right: 1vh;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #ff7777 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #ff7777 0%, #ff8b5f 100%);
    transition: .4s;
}

#square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #ff7777 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #ff7777 0%, #f76a35 100%);
}